[submodule "hosts/kagome"]
	path = hosts/kagome
	url = https://github.com/soramitsu/kagome.git
[submodule "hosts/gossamer"]
	path = hosts/gossamer
	url = https://github.com/ChainSafe/gossamer.git
[submodule "hosts/substrate"]
	path = hosts/substrate
	url = https://github.com/paritytech/polkadot.git
[submodule "hosts/smoldot"]
	path = hosts/smoldot
	url = https://github.com/paritytech/smoldot.git
