name: Conformance Testsuite

on:
  push:
    branches:
    - main
  pull_request:
    paths:
    - '.github/workflows/testsuite.yml'
    - '**'
    - '!fixtures/genesis/**'
    - '!helpers/ImplementationFixture.jl'
    - '!runtimes/tester/**'
    - '!hosts/Makefile'
    - '!hosts/substrate'
    - '!README.md'

jobs:
  build-adapter-substrate:
    name: "[build] substrate-adapter"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Setup rust toolchain
      id: rustup
      uses: actions-rs/toolchain@v1
      with:
        target: wasm32-unknown-unknown
        default: true
        profile: minimal
    - name: Cache cargo registry and index
      uses: actions/cache@v2.1.4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
        key: cargo-cache-adapter-substrate-${{ hashFiles('adapters/substrate/Cargo.lock') }}
        restore-keys: cargo-cache-adapter-substrate-
    - name: Cache cargo build ouput
      uses: actions/cache@v2.1.4
      with:
        path: adapters/substrate/target
        key: cargo-build-adapter-substrate-${{ steps.rustup.outputs.rustc_hash }}-${{ hashFiles('adapters/substrate/Cargo.lock') }}
        restore-keys: cargo-build-adapter-substrate-${{ steps.rustup.outputs.rustc_hash }}-
    - name: Build substrate adapters
      run: make substrate-adapter
    - name: Upload substrate adapter
      uses: actions/upload-artifact@v2
      with:
        name: substrate-adapter
        path: bin/substrate-adapter

  build-adapter-kagome:
    name: "[build] kagome-adapter"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Cache hunter packages
      uses: actions/cache@v2.1.4
      with:
        path: ~/.hunter
        key: hunter-adapter-kagome-${{ hashFiles('adapters/kagome/CMakeLists.txt') }}
        restore-keys: hunter-adapter-kagome-
    - name: Build kagome adapter
      env:
        CC: gcc-9
        CXX: g++-9
      run: make kagome-adapter 
    - name: Upload kagome adapter
      uses: actions/upload-artifact@v2
      with:
        name: kagome-adapter
        path: bin/kagome-adapter

  build-adapter-gossamer:
    name: "[build] gossamer-adapter"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Cache go modules
      uses: actions/cache@v2.1.4
      with:
        path: ~/go/pkg/mod
        key: go-mod-adapter-gossamer-${{ hashFiles('adapters/gossamer/go.sum') }}
        restore-keys: go-mod-adapter-gossamer-
    - name: Build gossamer adapter
      run: make gossamer-adapter 
    - name: Upload gossamer adapter
      uses: actions/upload-artifact@v2
      with:
        name: gossamer-adapter
        path: bin/gossamer-adapter
    - name: Upload libwasmer.so
      uses: actions/upload-artifact@v2
      with:
        name: gossamer-adapter
        path: lib/libwasmer.so


  build-runtime-hostapi:
    name: "[build] hostapi-runtime"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Setup rust toolchain
      id: rustup
      uses: actions-rs/toolchain@v1
      with:
        target: wasm32-unknown-unknown
        default: true
        profile: minimal
    - name: Cache cargo registry and index
      uses: actions/cache@v2.1.4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
        key: cargo-cache-runtime-hostapi-${{ hashFiles('runtimes/hostapi/Cargo.lock') }}
        restore-keys: cargo-cache-runtime-hostapi-
    - name: Cache cargo build ouput
      uses: actions/cache@v2.1.4
      with:
        path: runtimes/hostapi/target
        key: cargo-build-runtime-hostapi-${{ steps.rustup.outputs.rustc_hash }}-${{ hashFiles('runtimes/hostapi/Cargo.lock') }}
        restore-keys: cargo-build-runtime-hostapi-${{ steps.rustup.outputs.rustc_hash }}-
    - name: Build hostapi runtime
      run: make hostapi-runtime
    - name: Upload hostapi runtime
      uses: actions/upload-artifact@v2
      with:
        name: hostapi-runtime.compact.wasm
        path: bin/hostapi_runtime.compact.wasm


  test-substrate:
    needs: build-adapter-substrate
    strategy:
      fail-fast: false
      matrix:
        fixture: [ scale-codec, state-trie ]
    name: "[test-${{ matrix.fixture }}] substrate"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - uses: actions/download-artifact@v2.0.8
      with:
        name: substrate-adapter
        path: bin
    - run: chmod +x bin/substrate-adapter
    - name: Run test fixture
      run: ./runtests.jl substrate ${{ matrix.fixture }}

  test-substrate-hostapi:
    needs: build-adapter-substrate
    strategy:
      fail-fast: false
      matrix:
        environment: [ wasmi, wasmtime ]
    name: "[test-host-api] substrate ${{ matrix.environment }}"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - uses: actions/download-artifact@v2.0.8
      with:
        name: substrate-adapter
        path: bin
    - run: chmod +x bin/substrate-adapter
    - name: Run test fixture
      run: ./runtests.jl substrate host-api ${{ matrix.environment }}


  test-kagome:
    needs: [ build-adapter-substrate, build-adapter-kagome ]
    strategy:
      fail-fast: false
      matrix:
        fixture: [ scale-codec, state-trie ]
    name: "[test-${{ matrix.fixture }}] kagome"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - uses: actions/download-artifact@v2.0.8
      with:
        name: substrate-adapter
        path: bin
    - uses: actions/download-artifact@v2.0.8
      with:
        name: kagome-adapter
        path: bin
    - run: cd bin && chmod +x substrate-adapter kagome-adapter
    - name: Run test fixture
      run: ./runtests.jl kagome ${{ matrix.fixture }}

  test-kagome-hostapi:
    needs: [ build-adapter-kagome, build-runtime-hostapi ]
    name: "[test-host-api] kagome"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - uses: actions/download-artifact@v2.0.8
      with:
        name: kagome-adapter
        path: bin
    - uses: actions/download-artifact@v2.0.8
      with:
        name: hostapi-runtime.compact.wasm
        path: bin
    - run: chmod +x bin/kagome-adapter
    - name: Run test fixture
      run: ./runtests.jl kagome host-api


  test-gossamer:
    needs: [ build-adapter-substrate, build-adapter-gossamer ]
    strategy:
      fail-fast: false
      matrix:
        fixture: [ scale-codec, state-trie ]
    name: "[test-${{ matrix.fixture }}] gossamer"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - uses: actions/download-artifact@v2.0.8
      with:
        name: substrate-adapter
        path: bin
    - uses: actions/download-artifact@v2.0.8
      with:
        name: gossamer-adapter
        path: bin
    - run: |
        chmod +x bin/substrate-adapter bin/gossamer-adapter
        mkdir -p lib
        mv bin/libwasmer.so lib/
    - name: Run test fixture
      run: ./runtests.jl gossamer ${{ matrix.fixture }}

  test-gossamer-hostapi:
    needs: [ build-adapter-gossamer, build-runtime-hostapi]
    strategy:
      fail-fast: false
      matrix:
        environment: [ wasmer ]
    name: "[test-host-api] gossamer ${{ matrix.environment }}"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - uses: actions/download-artifact@v2.0.8
      with:
        name: gossamer-adapter
        path: bin
    - uses: actions/download-artifact@v2.0.8
      with:
        name: hostapi-runtime.compact.wasm
        path: bin
    - run: |
        chmod +x bin/gossamer-adapter
        mkdir -p lib
        mv bin/libwasmer.so lib/
    - name: Run test fixture
      run: ./runtests.jl gossamer host-api ${{ matrix.environment }}
